body {
  background-color: rgb(30, 31, 32);
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "Special Elite", cursive;
}
ul {
  line-height: 40px;
}
h1 {
  color: #ffffff;
}
.head {
  text-align: center;
  border: 5px solid white;
  height: 7vh;
  padding-top: 20px;
  padding-bottom: 10px;
}
.stuff {
  margin-left: 60px;
}
.Name {
  color: crimson;
}
.link {
  color: firebrick;
  margin-left: 30px;
}
#Guide {
  font-size: 20px;
  color: white;
}
.pic {
  height: 60vh;
}
